<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8uZGzY9QQP4lkb04GXIh1kOYvkdW8ws8</string>
	<key>GCM_SENDER_ID</key>
	<string>571168137463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurbanov.atelyam.atelyam</string>
	<key>PROJECT_ID</key>
	<string>jaytap-61a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>jaytap-61a1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571168137463:ios:77884f0aefe5639b4df3f2</string>
</dict>
</plist>